*.o
*.exe
*.mod
genparticles
out*dat
t*dat
*jpg
*png
scalar*dat
parameter*dat
SA*.dat
error*
hh-history.dat
iter*.dat
mass*.dat
phi-history.dat
restart*
rho*.dat
status*
vel-history.dat
*.wmv
volume*
wall*.dat
analysis.pyc
analysisDualLattice.pyc
blah.pvcc
blah.pvsm
blah.py
comparisonAbsorption.py
comparisonAbsorption.pyc
createMovie.sh
fort.31
interpolation*.dat
multiGridTests/
nohup.out
output
rcFile
testOriginalCodeForComparison/
timeFiles
*.pvsm
vizCombinedXPlaneLinePlot.py
vizCombinedXPlane_P.py
vizCombinedXPlane_P_copy.py
vizCombinedXPlane_P_pv5.py
vizCombinedXPlane_phi.py
vizCombinedXPlane_phi_pv5.py
vizLinePlotPressureThroughInterface.py
*csv

