*.o
*.exe
*.mod
genparticles
out*dat
t*dat
*jpg
*png
scalar*dat
parameter*dat
SA*.dat
error*
hh-history.dat
iter*.dat
mass*.dat
phi-history.dat
restart*
rho*.dat
status*
vel-history.dat
*.wmv
volume*
wall*.dat

